<div class="box">
    <div class="box-header">
        <h3 class="box-title">{{options.title}}</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover table-sticky-header">
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>类型</th>
                <th>uri</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="item in options.paginate.list" data-ng-click="itemClick({id:item.id})">
                <td>{{item.id}}</td>
                <td>
                    <a href="{{item.url}}" target="_blank">
                        <img src="{{imgHost}}{{item.uri}}" alt=""
                             style="height:25px;width: 25px;;">
                    </a>

                    {{item.name}}
                </td>
                <td>{{item.mimeType}}</td>
                <td>{{item.uri}}</td>
                <td>{{item.updated_at | date : 'yyyy-MM-dd hh:mm:ss'}}</td>
                <td>
                    <a data-ng-click="itemDelete({id:item.id})" href="javascript:void(0);">
                        <i class="fa fa-remove text-red"></i>
                    </a>

                </td>
            </tr>
        </table>

        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a data-ng-click="pageChanged({page:options.paginate.firstPage})">&laquo;</a></li>
                <li ng-repeat="pageNum in options.paginate.navigatepageNums" class="{{pageNum==options.paginate.pageNum? 'active':''}}">
                    <a data-ng-click="pageChanged({page:pageNum})">{{pageNum}}</a>
                </li>
                <li><a data-ng-click="pageChanged({page:options.paginate.lastPage})">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- /.box-body -->
</div>