<div class="row">
    <div class="col-sm-1" ng-repeat="item in paginate.list">
        <div ng-click="itemSelected(item.id)" class="table-bordered {{check(item.id)? 'image-selected':''}}">
            <img class="img-responsive" src="{{imgHost}}{{item.uri}}@100w_100h" alt="Photo">
        </div>
    </div>
</div>

<div class="box-footer clearfix ">
    <ul class="pagination pagination-sm no-margin pull-right">
        <li><a data-ng-click="pageChanged({page:paginate.firstPage})">&laquo;</a></li>
        <li ng-repeat="pageNum in paginate.navigatepageNums"
            class="{{pageNum==paginate.pageNum? 'active':''}}">
            <a data-ng-click="pageChanged({page:pageNum})">{{pageNum}}</a>
        </li>
        <li><a data-ng-click="pageChanged({page:paginate.lastPage})">&raquo;</a></li>
    </ul>
</div>