<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            商品规格信息
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">商品规格信息</li>
        </ol>
    </section>
    <div class="container-fluid">
        <div class="panel panel-success" style="margin-top: 20px;">
            <div class="panel-heading">
                <h3 class="panel-title">筛选</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <form class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">一级分类 :</label>

                            <div class="col-sm-10">
                                <operate-select selected="params.cid1" list="cid1Filter"></operate-select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">二级分类 :</label>

                            <div class="col-sm-10">
                                <operate-select selected="params.cid2" list="cid2Filter"></operate-select>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-danger" ng-class="{true: 'show', false: 'hidden'}[showDeleteDialog]">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">警告</h4>
                </div>
                <div class="modal-body">
                    <p>确认删除?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="dimissDeleteDialog()" class="btn btn-outline pull-left"
                            data-dismiss="modal">取消
                    </button>
                    <button type="button" ng-click="confirmDeleteDialog()" class="btn btn-outline">确认</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.content-wrapper -->
    <div class="container-fluid" ng-if="params.cid2>0">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">详情</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 bodered">
                        <item-select selected="params.gid" list="itemsFilter"></item-select>
                    </div>

                    <div class="col-sm-9" ng-if="params.gid>0">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">规格 :</h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-10">
                                    <operate-select selected="params.itemSpecId"
                                                    list="itemSpecsFilter"></operate-select>

                                    <span ng-class="{search_nav:true,search_focus:mode=='new'}"
                                          ng-click="itemNew()">
新增
</span>
                                </div>

                            </div>
                        </div>

                        <div class="container-fluid" ng-if="params.itemSpecId>0 || mode=='new'">
                            <form role="form">
                                <div class="form-group">
                                    <label>上线</label>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_online" type="radio" ng-value="0">
                                            不上线
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_online" type="radio" ng-value="1">
                                            上线
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>熟食</label>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_rough" type="radio" name="online" ng-value="0">
                                            不是
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_rough" type="radio" name="online" ng-value="1">
                                            是
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>激活</label>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_active" type="radio" ng-value="0">
                                            不激活
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_active" type="radio" ng-value="1">
                                            激活
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>库存</label>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_remain" type="radio" ng-value="0">
                                            没有
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input ng-model="itemSpec.is_remain" type="radio" ng-value="1">
                                            有
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>状态</label>
                                    <input ng-model="itemSpec.status" name='status' type="text" class="form-control"
                                           placeholder="10">
                                </div>
                                <div class="form-group">
                                    <label>质量等级</label>
                                    <input ng-model="itemSpec.quanlity" name='quality' type="text" class="form-control"
                                           placeholder="10">
                                </div>
                                <div class="form-group">
                                    <label>排序</label>
                                    <input ng-model="itemSpec.sort" name='sort' type="text" class="form-control"
                                           placeholder="10">
                                </div>
                                <div class="form-group">
                                    <label>本店价格</label>
                                    <input ng-model="itemSpec.shop_price" name='shop_price' type="text"
                                           class="form-control" placeholder="0.00">
                                </div>
                                <div class="form-group">
                                    <label>市场价格</label>
                                    <input ng-model="itemSpec.market_price" name='shop_price' type="text"
                                           class="form-control" placeholder="0.00">
                                </div>
                                <div class="form-group">
                                    <label>积分兑换</label>
                                    <input ng-model="itemSpec.promote_price" name='promote_price' type="text"
                                           class="form-control" placeholder="0.00">
                                </div>

                                <div class="form-group">
                                    <label>最大购买量</label>
                                    <input ng-model="itemSpec.max" name='max' type="text"
                                           class="form-control" placeholder="0.00">
                                </div>

                                <div class="form-group">
                                    <label>最小购买量</label>
                                    <input ng-model="itemSpec.min" name='min' type="text"
                                           class="form-control" placeholder="0.00">
                                </div>

                                <div class="form-group">
                                    <label>库存</label>
                                    <input ng-model="itemSpec.remain" type="text" class="form-control"
                                           placeholder="0.00">
                                </div>

                                <div class="form-group">
                                    <label>销量</label>
                                    <input ng-model="itemSpec.sale_num" type="text" class="form-control"
                                           placeholder="0.00">
                                </div>

                                <div class="form-group">
                                    <label>销售步长</label>
                                    <input ng-model="itemSpec.unit_sell" name="unit_sell" type="text" class="form-control"
                                           placeholder="1">
                                </div>

                                <div class="form-group">
                                    <label>销售单位</label>
                                    <input ng-model="itemSpec.unit" name="unit" type="text" class="form-control"
                                           placeholder="0.00">
                                </div>

                                <div class="form-group">
                                    <label>单位描述</label>
                                    <textarea ng-model="itemSpec.unit_desc" name="description" class="form-control"
                                              rows="3" placeholder="销售单位描述..."></textarea>
                                </div>

                                <div class="form-group">
                                    <button ng-click="delete()" type="button" class="btn btn-primary ">删除</button>
                                    <button ng-click="submit()" type="button" class="btn btn-danger ">修改</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.content-wrapper -->