<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            商品详情
            <small>Version 2.0</small>
        </h1>
        <ol class="breadcrumb">
            <li><a ui-sref="dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">商品详情</li>
        </ol>
    </section>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button ng-click="add()" type="button" class="btn bg-green btn-flat margin">
                <i class="fa fa-add">规格管理</i>
            </button>
        </div>
    </div>

    <div class="box-body">
        <div class="row">
            <div class="col-md-12" style="background: white;padding: 16px;">
                <form role="form">
                    <!-- text input -->
                    <div class="form-group">
                        <label>商品名称</label>
                        <input ng-model="item.name" type="text" class="form-control" placeholder="商品名称">
                    </div>

                    <select2 options="cid1" title="一级分类" init-item="{{item.cid1}}"
                             item-selected="itemSelected1(id)"></select2>

                    <select2 options="cid2" title="二级分类" init-item="{{item.cid2}}"
                             item-selected="itemSelected2(id)"></select2>

                    <div class="form-group">
                        <label>规格</label>
                        <div>
                            <small class="label margin bg-blue" ng-repeat="spec in item.itemSpecList">
                                {{spec.shop_price}}/{{spec.unit}}
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>商品是否上线</label>
                        <div class="radio">
                            <label>
                                <input ng-model="item.is_online" ng-checked="item.is_online==0" type="radio"
                                       name="online" value="0">
                                不上线
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input ng-model="item.is_online" ng-checked="item.is_online==1" type="radio"
                                       name="online" value="1">
                                上线
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>产地</label>
                        <input ng-model="item.place" type="text" class="form-control" placeholder="产地">
                    </div>

                    <div class="form-group">
                        <label>简单描述</label>
                        <textarea ng-model="item.summary" name="summary" class="form-control" rows="3"
                                  placeholder="简单描述..."></textarea>
                    </div>

                    <div class="form-group">
                        <label>通知信息</label>
                        <textarea ng-model="item.notice" name="notice" class="form-control" rows="3"
                                  placeholder="通知信息..."></textarea>
                    </div>

                    <div class="form-group">
                        <label>通知信息色彩</label>
                        <textarea ng-model="item.notice_color" name="notice_color" class="form-control" rows="3"
                                  placeholder="通知信息色彩(green,red,blue,yellow)"></textarea>
                    </div>

                    <div class="form-group">
                        <label>当前图像</label>
                        <div>
                            <img src="{{img_host}}{{item.thumb}}@100w_100h" alt="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>详情图像</label>
                        <div>
                            <img ng-repeat="img in item.imageList"
                                 src="{{img_host}}{{img.uri}}@100w_100h" alt="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>首页图像</label>
                        <imageselector paginate="images1" single="true" page-changed="pageChanged1(page)"
                                       image-selected="masterImageSelected" img-host="{{img_host}}"></imageselector>
                    </div>
                    <!-- textarea -->
                    <div class="form-group">
                        <label>详情图像</label>
                        <imageselector paginate="images2" single="false" page-changed="pageChanged2(page)"
                                       image-selected="slaveImageSelected" img-host="{{img_host}}"></imageselector>
                    </div>

                    <div class="form-group">
                        <label>详细描述</label>
                        <textarea mb-simplemde="options" ng-model="item.description"></textarea>
                    </div>

                    <div class="form-group">
                        <button ng-click="delete()" type="button" class="btn btn-primary ">删除</button>
                        <button ng-click="submit()" type="button" class="btn btn-danger ">修改</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->