<div class="row">
    <div class="col-md-12" style="background: white;padding: 16px;">
        <form role="form">

            <div class="form-group">
                <label>标题</label>
                <textarea ng-model="post.title" name="title" class="form-control" rows="3"
                          placeholder="标题..."></textarea>
            </div>
            <div class="form-group">
                <label>详细描述</label>
                <textarea mb-simplemde="options" ng-model="post.description"></textarea>
            </div>

            <div class="form-group">
                <label>图像</label>
                <imageselector paginate="images1" single="true" page-changed="pageChanged1(page)"
                               image-selected="image" img_host="{{img_host}}"></imageselector>
            </div>
            <div class="form-group">
                <button ng-click="submit()" type="button" class="btn btn-danger ">增加</button>
            </div>
        </form>
    </div>
</div>