<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BannerMapper">

    <resultMap id="BannerResult" type="Banner" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="is_show" column="is_show" javaType="Integer" jdbcType="INTEGER"/>
        <result property="sort" column="sort" javaType="Integer" jdbcType="INTEGER"/>
        <result property="gid_name" column="gid_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="deleted_at" column="deleted_at" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAll" resultMap="BannerResult">
        SELECT
        banner.id,
        banner.tip,
        banner.url,
        banner.target,
        banner.is_show,
        banner.sort,
        banner.created_at,
        banner.updated_at,
        banner.deleted_at,
        items.name as gid_name
        FROM banner
        LEFT JOIN items ON banner.target=items.id
    </select>


    <select id="getAllCanShow" resultMap="BannerResult">
        SELECT
        id,
        tip,
        url,
        target,
        is_show,
        sort,
        created_at,
        updated_at,
        deleted_at
        FROM banner
        WHERE is_show = 1
        AND deleted_at is NULL
        ORDER BY sort desc
    </select>

    <select id="getById" resultMap="BannerResult">
        SELECT
        id,
        tip,
        url,
        target,
        is_show,
        sort,
        created_at,
        updated_at,
        deleted_at
        FROM banner
        where id=#{id} order BY sort desc
    </select>

    <select id="count" resultMap="BannerResult">
        SELECT count(1) FROM banner
        WHERE 1=1
        <if test="all==true">
            and is_show = 1
        </if>
    </select>

    <insert id="insert" parameterType="Banner">
        INSERT INTO banner(
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="tip!=null">
                tip
            </if>
            <if test="url!=null">
                ,url
            </if>
            <if test="target!=null">
                ,target
            </if>
            <if test="is_show!=null">
                ,is_show
            </if>
            <if test="sort!=null">
                ,sort
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="tip!=null">
                #{tip}
            </if>
            <if test="url!=null">
                ,#{url}
            </if>
            <if test="target!=null">
                ,#{target}
            </if>
            <if test="is_show!=null">
                ,#{is_show}
            </if>
            <if test="sort!=null">
                ,#{sort}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="offline">
        UPDATE banner set
        is_show=#{online}
        ,updated_at=now()
        WHERE id=#{id}
    </update>

    <update id="update" parameterType="Banner">
        UPDATE banner set
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="tip!=null">
                tip=#{tip}
            </if>
            <if test="url!=null">
                ,url=#{url}
            </if>
            <if test="target!=null">
                ,target=#{target}
            </if>
            <if test="is_show!=null">
                ,is_show=#{is_show}
            </if>
            <if test="sort!=null">
                ,sort=#{sort}
            </if>
            ,updated_at=now()
        </trim>
        where id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM banner WHERE id=#{id}
    </delete>

    <update id="softDelete">
        UPDATE banner set deleted_at=now() WHERE id=#{id}
    </update>
</mapper>