<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BannerDao">

    <resultMap id="BannerResult" type="Banner" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="deleted_at" column="deleted_at" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAll" resultMap="BannerResult">
        SELECT * FROM banner
    </select>

    <select id="getAllCanShow" resultMap="BannerResult">
        SELECT * FROM banner WHERE is_show = 1 and deleted_at is null order BY <![CDATA[
        `order` desc


        ]]>
    </select>

    <select id="getById" resultMap="BannerResult">
        SELECT * FROM banner
        where id=#{id} AND deleted_at is NULL order BY <![CDATA[
        `order` desc


        ]]>
    </select>

    <select id="count" resultMap="BannerResult">
        SELECT count(1) FROM banner
        WHERE deleted_at is NULL
        <if test="all">
            and is_show = 1
        </if>
    </select>

    <insert id="insert" parameterType="Banner">
        INSERT INTO banner(
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="tip!=null">
                tip
            </if>
            <if test="url!=null">
                ,url
            </if>
            <if test="is_show!=null">
                ,is_show
            </if>
            <if test="order!=null">
                ,order
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="tip!=null">
                #{tip}
            </if>
            <if test="url!=null">
                ,#{url}
            </if>
            <if test="is_show!=null">
                ,#{is_show}
            </if>
            <if test="order!=null">
                ,#{order}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="update" parameterType="Banner">
        UPDATE banner set
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="tip!=null">
                tip=#{tip}
            </if>
            <if test="url!=null">
                ,url=#{url}
            </if>
            <if test="is_show!=null">
                ,is_show=#{is_show}
            </if>
            <if test="order!=null">
                ,order=#{order}
            </if>
            ,updated_at=now()
        </trim>
        where id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM banner WHERE id=#{id}
    </delete>

    <update id="softDelete">
        UPDATE banner set deleted_at=now() WHERE id=#{id}
    </update>
</mapper>