<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BonusMapper">

    <resultMap id="BonusResult" type="Bonus" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="uid" column="uid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="tid" column="tid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="description" column="description" javaType="String" jdbcType="VARCHAR"/>
        <result property="money" column="money" javaType="Double" jdbcType="DECIMAL"/>
        <result property="cid1" column="cid1" javaType="Integer" jdbcType="INTEGER"/>
        <result property="cid2" column="cid2" javaType="Integer" jdbcType="INTEGER"/>
        <result property="gid" column="gid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="is_enable" column="is_enable" javaType="Integer" jdbcType="INTEGER"/>
        <result property="min_amount" column="min_amount" javaType="Double" jdbcType="DECIMAL"/>
        <result property="start_at" column="start_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="end_at" column="end_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="deleted_at" column="deleted_at" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getById" resultMap="BonusResult">
        SELECT
        id,
        uid,
        tid,
        money,
        name,
        description,
        cid1,
        cid2,
        gid,
        min_amount,
        is_enable,
        start_at,
        end_at,
        created_at,
        updated_at
        FROM bonus
        WHERE id=#{id}
    </select>

    <select id="getAll" resultMap="BonusResult">
        SELECT
        id,
        uid,
        tid,
        money,
        name,
        description,
        cid1,
        cid2,
        gid,
        min_amount,
        is_enable,
        start_at,
        end_at,
        created_at,
        updated_at
        FROM bonus
    </select>

    <select id="getEnabledById" resultMap="BonusResult">
        SELECT
        id,
        uid,
        tid,
        money,
        name,
        description,
        cid1,
        cid2,
        gid,
        min_amount,
        is_enable,
        start_at,
        end_at,
        created_at,
        updated_at
        FROM bonus
        WHERE id=#{id}
        AND is_enable=1
        AND <![CDATA[ start_at < now()
        ]]>
        AND <![CDATA[ end_at >= now()

        ]]>
    </select>

    <select id="getAllByUid" resultMap="BonusResult">
        SELECT
        id,
        uid,
        tid,
        money,
        name,
        description,
        cid1,
        cid2,
        gid,
        min_amount,
        is_enable,
        start_at,
        end_at,
        created_at,
        updated_at
        FROM bonus
        WHERE uid=#{uid}
    </select>

    <select id="countByUid" resultType="Integer">
        SELECT count(1) FROM bonus
        WHERE uid=#{uid}
        AND is_enable=1
        AND <![CDATA[ start_at < now()
        ]]>
        AND <![CDATA[ end_at >= now()

        ]]>
    </select>

    <select id="countEnabledByUid" resultType="Integer">
        SELECT count(1) FROM bonus where uid=#{uid}
    </select>

    <select id="getListInvalidate" resultMap="BonusResult">
        SELECT
        id,
        uid,
        tid,
        money,
        name,
        description,
        cid1,
        cid2,
        gid,
        min_amount,
        is_enable,
        start_at,
        end_at,
        created_at,
        updated_at
        FROM bonus
        WHERE uid=#{uid}
        AND <![CDATA[ end_at < now()

        ]]>
    </select>

    <select id="getListValidate" resultMap="BonusResult">
        SELECT
        id,
        uid,
        tid,
        money,
        name,
        description,
        cid1,
        cid2,
        gid,
        min_amount,
        is_enable,
        start_at,
        end_at,
        created_at,
        updated_at
        FROM bonus
        WHERE uid=#{uid}
        AND <![CDATA[ start_at <= now() ]]>
        AND <![CDATA[ end_at >= now()


        ]]>
    </select>

    <insert id="insert">
        <selectKey resultType="Integer" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO bonus (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="uid!=null">
                ,uid
            </if>
            <if test="tid!=null">
                ,tid
            </if>
            <if test="money!=null">
                ,money
            </if>
            <if test="name!=null">
                ,name
            </if>
            <if test="description!=null">
                ,description
            </if>
            <if test="cid1!=null">
                ,cid1
            </if>
            <if test="cid2!=null">
                ,cid2
            </if>
            <if test="gid!=null">
                ,gid
            </if>
            <if test="min_amount!=null">
                ,min_amount
            </if>
            <if test="is_enable!=null">
                ,is_enable
            </if>
            <if test="start_at!=null">
                ,start_at
            </if>
            <if test="end_at!=null">
                ,end_at
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="uid!=null">
                ,#{uid}
            </if>
            <if test="tid!=null">
                ,#{tid}
            </if>
            <if test="money!=null">
                ,#{money}
            </if>
            <if test="name!=null">
                ,#{name}
            </if>
            <if test="description!=null">
                ,#{description}
            </if>
            <if test="cid1!=null">
                ,#{cid1}
            </if>
            <if test="cid2!=null">
                ,#{cid2}
            </if>
            <if test="gid!=null">
                ,#{gid}
            </if>
            <if test="min_amount!=null">
                ,#{min_amount}
            </if>
            <if test="is_enable!=null">
                ,#{is_enable}
            </if>
            <if test="start_at!=null">
                ,#{start_at,javaType=Date}
            </if>
            <if test="end_at!=null">
                ,#{end_at,javaType=Date}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="update" parameterType="Bonus">
        UPDATE bonus SET
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="uid!=null">
                ,uid=#{uid}
            </if>
            <if test="tid!=null">
                ,tid=#{tid}
            </if>
            <if test="money!=null">
                ,money=#{money}
            </if>
            <if test="name!=null">
                ,name=#{name}
            </if>
            <if test="description!=null">
                ,description=#{description}
            </if>
            <if test="cid1!=null">
                ,cid1=#{cid1}
            </if>
            <if test="cid2!=null">
                ,cid2=#{cid2}
            </if>
            <if test="gid!=null">
                ,gid=#{gid}
            </if>
            <if test="min_amount!=null">
                ,min_amount=#{min_amount}
            </if>
            <if test="is_enable!=null">
                ,is_enable=#{is_enable}
            </if>
            <if test="start_at!=null">
                ,start_at=#{start_at,javaType=Date}
            </if>
            <if test="end_at!=null">
                ,end_at=#{end_at,javaType=Date}
            </if>
        </trim>
        ,updated_at=now()
        where id=#{id}
    </update>


    <insert id="saveOrUpdate" parameterType="Bonus">
        <selectKey keyProperty="id" resultType="Integer" keyColumn="id" order="BEFORE">
            select sum(id) AS id from bonus where id = #{id} limit 0,1
        </selectKey>
        <if test="id>0">
            UPDATE bonus SET
            <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
                <if test="uid!=null">
                    ,uid=#{uid}
                </if>
                <if test="tid!=null">
                    ,tid=#{tid}
                </if>
                <if test="money!=null">
                    ,money=#{money}
                </if>
                <if test="name!=null">
                    ,name=#{name}
                </if>
                <if test="description!=null">
                    ,description=#{description}
                </if>
                <if test="cid1!=null">
                    ,cid1=#{cid1}
                </if>
                <if test="cid2!=null">
                    ,cid2=#{cid2}
                </if>
                <if test="gid!=null">
                    ,gid=#{gid}
                </if>
                <if test="min_amount!=null">
                    ,min_amount=#{min_amount}
                </if>
                <if test="is_enable!=null">
                    ,is_enable=#{is_enable}
                </if>
                <if test="start_at!=null">
                    ,start_at=#{start_at,javaType=Date}
                </if>
                <if test="end_at!=null">
                    ,end_at=#{end_at,javaType=Date}
                </if>
            </trim>
            ,updated_at=now()
            where id=#{id}
        </if>
        <if test="id==null">
            INSERT INTO bonus (
            <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
                <if test="uid!=null">
                    ,uid
                </if>
                <if test="tid!=null">
                    ,tid
                </if>
                <if test="money!=null">
                    ,money
                </if>
                <if test="name!=null">
                    ,name
                </if>
                <if test="description!=null">
                    ,description
                </if>
                <if test="cid1!=null">
                    ,cid1
                </if>
                <if test="cid2!=null">
                    ,cid2
                </if>
                <if test="gid!=null">
                    ,gid
                </if>
                <if test="min_amount!=null">
                    ,min_amount
                </if>
                <if test="is_enable!=null">
                    ,is_enable
                </if>
                <if test="start_at!=null">
                    ,start_at
                </if>
                <if test="end_at!=null">
                    ,end_at
                </if>
                ,created_at
                ,updated_at
            </trim>
            ) VALUES (
            <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
                <if test="uid!=null">
                    ,#{uid}
                </if>
                <if test="tid!=null">
                    ,#{tid}
                </if>
                <if test="money!=null">
                    ,#{money}
                </if>
                <if test="name!=null">
                    ,#{name}
                </if>
                <if test="description!=null">
                    ,#{description}
                </if>
                <if test="cid1!=null">
                    ,#{cid1}
                </if>
                <if test="cid2!=null">
                    ,#{cid2}
                </if>
                <if test="gid!=null">
                    ,#{gid}
                </if>
                <if test="min_amount!=null">
                    ,#{min_amount}
                </if>
                <if test="is_enable!=null">
                    ,#{is_enable}
                </if>
                <if test="start_at!=null">
                    ,#{start_at,javaType=Date}
                </if>
                <if test="end_at!=null">
                    ,#{end_at,javaType=Date}
                </if>
                ,now()
                ,now()
            </trim>
            )
        </if>
    </insert>


    <delete id="delete">
        DELETE FROM bonus WHERE id=#{id}
    </delete>

    <update id="softDelete">
        UPDATE bonus set deleted_at=now() WHERE id=#{id}
    </update>

</mapper>