<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

    <resultMap id="CartResult" type="Cart" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="uid" column="uid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="gid" column="gid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="spec" column="spec" javaType="Integer" jdbcType="INTEGER"/>
        <result property="amount" column="amount" javaType="Integer" jdbcType="INTEGER"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <association property="item" autoMapping="true" resultMap="ItemMapper.ItemResult" columnPrefix="items_"/>
        <association property="itemSpec" autoMapping="true" resultMap="ItemSpecMapper.ItemSpecResult"
                     columnPrefix="item_spec_"/>
    </resultMap>

    <select id="getById" resultMap="CartResult">
        SELECT
        id,
        uid,
        gid,
        spec,
        amount,
        created_at,
        updated_at
        FROM cart
        where id=#{id}
    </select>

    <delete id="clear">
        DELETE FROM cart WHERE  uid=#{uid}
    </delete>

    <select id="getByUid" resultMap="CartResult">
        SELECT
        id,
        uid,
        gid,
        spec,
        amount,
        created_at,
        updated_at
        FROM cart
        WHERE uid=#{uid}
    </select>

    <delete id="clearByUid">
        DELETE FROM cart where uid=#{uid}
    </delete>

    <select id="getByUidWithItem" resultMap="CartResult">
        SELECT
        cart.id as id,
        cart.uid as uid,
        cart.gid as gid,
        cart.spec as spec,
        cart.amount as amount,
        cart.created_at as created_at,
        cart.updated_at as updated_at,

        items.id as items_id,
        items.no as items_no,
        items.name as items_name,
        items.cid1 as items_cid1,
        items.cid2 as items_cid2,
        items.is_online as items_is_online,
        items.src as items_src,
        items.thumb as items_thumb,
        items.place as items_place,
        items.summary as items_summary,
        items.notice as items_notice,
        items.description as items_description,
        items.created_at as items_created_at,
        items.updated_at as items_updated_at,
        items.deleted_at as items_deleted_at,

        item_spec.id as item_spec_id,
        item_spec.gid as item_spec_gid,
        item_spec.is_remain as item_spec_is_remain,
        item_spec.is_online as item_spec_is_online,
        item_spec.is_active as item_spec_is_active,
        item_spec.is_rough as item_spec_is_rough,
        item_spec.is_promote as item_spec_is_promote,
        item_spec.is_delete as item_spec_is_delete,
        item_spec.status as item_spec_status,
        item_spec.sort as item_spec_sort,
        item_spec.weight as item_spec_weight,
        item_spec.min as item_spec_min,
        item_spec.max as item_spec_max,
        item_spec.market_price as item_spec_market_price,
        item_spec.shop_price as item_spec_shop_price,
        item_spec.promote_price as item_spec_promote_price,
        item_spec.remain as item_spec_remain,
        item_spec.sale_num as item_spec_sale_num,
        item_spec.quanlity as item_spec_quanlity,
        item_spec.unit as item_spec_unit,
        item_spec.unit_sell as item_spec_unit_sell,
        item_spec.unit_desc as item_spec_unit_desc,
        item_spec.created_at as item_spec_created_at,
        item_spec.updated_at as item_spec_updated_at,
        item_spec.deleted_at as item_spec_deleted_at

        FROM cart
        LEFT JOIN items on cart.gid = items.id
        LEFT JOIN item_spec on cart.spec = item_spec.id
        WHERE cart.uid=#{uid}
        ORDER BY items.name
    </select>

    <insert id="insert" parameterType="Cart">
        <selectKey resultType="Integer" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO cart (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="uid!=null">
                ,uid
            </if>
            <if test="gid!=null">
                ,gid
            </if>
            <if test="spec!=null">
                ,spec
            </if>
            <if test="amount!=null">
                ,amount
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="uid!=null">
                ,#{uid}
            </if>
            <if test="gid!=null">
                ,#{gid}
            </if>
            <if test="spec!=null">
                ,#{spec}
            </if>
            <if test="amount!=null">
                ,#{amount}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="update" parameterType="Cart">
        UPDATE cart SET
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="uid!=null">
                ,uid=#{uid}
            </if>
            <if test="gid!=null">
                ,gid=#{gid}
            </if>
            <if test="spec!=null">
                ,spec=#{spec}
            </if>
            <if test="amount!=null">
                ,amount=#{amout}
            </if>
        </trim>
        ,updated_at=now()
        where id=#{id}
    </update>

    <insert id="saveOrUpdate" parameterType="Cart">
        <selectKey keyProperty="id" resultType="Integer" keyColumn="id" order="BEFORE">
            select sum(id) AS id from cart where uid = #{uid} and gid=#{gid} and spec=#{spec} limit 0,1
        </selectKey>
        <if test="id>0">
            UPDATE cart SET
            <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
                <if test="amount!=null">
                    ,amount=#{amount}
                </if>
            </trim>
            ,updated_at=now()
            where id=#{id}
        </if>
        <if test="id==null">
            INSERT INTO cart (
            <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
                <if test="uid!=null">
                    ,uid
                </if>
                <if test="gid!=null">
                    ,gid
                </if>
                <if test="spec!=null">
                    ,spec
                </if>
                <if test="amount!=null">
                    ,amount
                </if>
                ,created_at
                ,updated_at
            </trim>
            ) VALUES (
            <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
                <if test="uid!=null">
                    ,#{uid}
                </if>
                <if test="gid!=null">
                    ,#{gid}
                </if>
                <if test="spec!=null">
                    ,#{spec}
                </if>
                <if test="amount!=null">
                    ,#{amount}
                </if>
                ,now()
                ,now()
            </trim>
            )
        </if>
    </insert>

    <delete id="delete">
        DELETE FROM cart WHERE id=#{id}
    </delete>

    <delete id="deleteByGidAndSpec">
        DELETE FROM cart WHERE
        gid=#{gid}
        AND spec=#{spec}
    </delete>

</mapper>