<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ItemMapper">

    <resultMap id="ItemResult" type="Item" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="cid1" column="cid1" javaType="Integer" jdbcType="INTEGER"/>
        <result property="cid2" column="cid2" javaType="Integer" jdbcType="INTEGER"/>
        <result property="notice_color" column="notice_color" javaType="String" jdbcType="CHAR"/>
        <result property="cid1_name" column="cid1_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="cid2_name" column="cid2_name" javaType="String" jdbcType="VARCHAR"/>
        <result property="is_online" column="is_online" javaType="Integer" jdbcType="INTEGER"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="deleted_at" column="deleted_at" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getById" resultMap="ItemResult">
        SELECT
        items.id as id,
        items.no as no,
        items.name as name,
        items.cid1 as cid1,
        items.cid2 as cid2,
        items.is_online as is_online,
        items.sort as sort,
        items.src as src,
        items.thumb as thumb,
        items.place as place,
        items.summary as summary,
        items.notice as notice,
        items.notice_color as notice_color,
        items.description as description,
        items.created_at as created_at,
        items.updated_at as updated_at,
        items.deleted_at as deleted_at,
        c1.name as cid1_name,
        c2.name as cid2_name
        FROM items
        LEFT JOIN category c1 on items.cid1 = c1.id
        LEFT JOIN category c2 on items.cid2 = c2.id
        WHERE
        items.id=#{id}
        AND is_online = 1
        AND c1.is_delete=0
        AND c1.is_delete=0
    </select>

    <select id="getByIdAdmin" resultMap="ItemResult">
        SELECT
        items.id as id,
        items.no as no,
        items.name as name,
        items.cid1 as cid1,
        items.cid2 as cid2,
        items.is_online as is_online,
        items.sort as sort,
        items.src as src,
        items.thumb as thumb,
        items.place as place,
        items.summary as summary,
        items.notice as notice,
        items.notice_color as notice_color,
        items.description as description,
        items.created_at as created_at,
        items.updated_at as updated_at,
        items.deleted_at as deleted_at,
        c1.name as cid1_name,
        c2.name as cid2_name
        FROM items
        LEFT JOIN category c1 on items.cid1 = c1.id
        LEFT JOIN category c2 on items.cid2 = c2.id
        WHERE
        items.id=#{id}
    </select>

    <select id="online" resultType="Integer">
        SELECT count(1) FROM items LEFT JOIN item_spec ON items.id=item_spec.gid
        WHERE items.id=#{id}
        AND item_spec.id=#{spec}
        AND items.is_online = 1
        AND item_spec.is_online = 1
    </select>

    <select id="getAllAvailable" resultMap="ItemResult">
        SELECT
        id,
        no,
        name,
        cid1,
        cid2,
        is_online,
        src,
        thumb,
        place,
        summary,
        notice,
        notice_color,
        description,
        created_at,
        updated_at,
        deleted_at
        FROM items
        WHERE items.is_online = 1
    </select>

    <select id="getAll" resultMap="ItemResult">
        SELECT
        id,
        no,
        name,
        cid1,
        cid2,
        is_online,
        src,
        thumb,
        place,
        summary,
        notice,
        notice_color,
        description,
        created_at,
        updated_at,
        deleted_at
        FROM items
    </select>

    <select id="top" resultMap="ItemResult">
        SELECT
        id,
        no,
        name,
        cid1,
        cid2,
        is_online,
        src,
        thumb,
        place,
        summary,
        notice,
        notice_color,
        description,
        created_at,
        updated_at,
        deleted_at
        FROM items
    </select>

    <select id="last" resultMap="ItemResult">
        SELECT
        id,
        no,
        name,
        cid1,
        cid2,
        is_online,
        src,
        thumb,
        place,
        summary,
        notice,
        notice_color,
        description,
        created_at,
        updated_at,
        deleted_at
        FROM items
        ORDER BY created_at
    </select>

    <select id="lastUpdated" resultMap="ItemResult">
        SELECT
        items.id,
        items.no,
        items.name,
        items.cid1,
        items.cid2,
        items.is_online,
        items.src,
        items.thumb,
        items.place,
        items.summary,
        items.notice,
        items.notice_color,
        items.description,
        items.created_at,
        items.updated_at,
        items.deleted_at
        FROM items
        LEFT JOIN item_spec ON items.id = item_spec.gid
        ORDER BY item_spec.updated_at DESC,items.updated_at DESC
    </select>

    <select id="isOnline" resultType="Integer">
        SELECT COUNT(1)
        FROM items
        LEFT JOIN category c1 on items.cid1 = c1.id
        LEFT JOIN category c2 on items.cid2 = c2.id
        WHERE
        items.id = #{id}
        AND is_online = 1
        AND c1.is_delete = 0
        AND c2.is_delete = 0
    </select>

    <select id="getAllCanShow" resultMap="ItemResult">
        SELECT
        items.id as id,
        items.no as no,
        items.name as name,
        items.cid1 as cid1,
        items.cid2 as cid2,
        items.is_online as is_online,
        items.sort as sort,
        items.src as src,
        items.thumb as thumb,
        items.place as place,
        items.summary as summary,
        items.notice as notice,
        items.notice_color as notice_color,
        items.description as description,
        items.created_at as created_at,
        items.updated_at as updated_at,
        items.deleted_at as deleted_at,
        c1.name as cid1_name,
        c2.name as cid2_name
        FROM items
        LEFT JOIN category c1 on items.cid1 = c1.id
        LEFT JOIN category c2 on items.cid2 = c2.id
        WHERE is_online = 1
        AND c1.is_delete=0
        AND c1.is_delete=0
        <if test="orderBy!=null">
            ORDER BY ${orderBy}
        </if>
    </select>

    <select id="getByCategory" resultMap="ItemResult">
        SELECT
        id,
        no,
        name,
        cid1,
        cid2,
        is_online,
        src,
        thumb,
        place,
        summary,
        notice,
        notice_color,
        description,
        created_at,
        updated_at,
        deleted_at
        FROM items
        WHERE is_online = 1
        <if test="cid1!=null">
            and cid1=#{cid1}
        </if>
        <if test="cid2!=null">
            and cid2=#{cid2}
        </if>
    </select>

    <select id="countByCid1Cid2" resultType="integer">
        SELECT count(1) FROM items
        WHERE 1=1
        <if test="cid1!=null">
            and cid1=#{cid1}
        </if>
        <if test="cid2!=null">
            and cid2=#{cid2}
        </if>
    </select>

    <select id="search" resultMap="ItemResult">
        SELECT
        items.id,
        items.no,
        items.name,
        items.cid1,
        items.cid2,
        items.is_online,
        items.src,
        items.thumb,
        items.place,
        items.summary,
        items.notice,
        items.notice_color,
        items.description,
        items.created_at,
        items.updated_at,
        items.deleted_at
        FROM items
        LEFT JOIN category c1 on items.cid1 = c1.id
        LEFT JOIN category c2 on items.cid2 = c2.id
        WHERE is_online = 1
        AND c1.is_delete=0
        AND c1.is_delete=0
        <if test="keywords!=null">
            and items.name like CONCAT('%',#{keywords},'%')
        </if>
    </select>

    <select id="count" resultType="Integer">
        SELECT count(1) FROM items
        WHERE 1=1
        <if test="all">
            AND is_online = 1
        </if>
    </select>

    <insert id="insert" parameterType="Item">
        <selectKey resultType="Integer" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO items (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="no!=null">
                ,no
            </if>
            <if test="name!=null">
                ,name
            </if>
            <if test="cid1!=null">
                ,cid1
            </if>
            <if test="cid2!=null">
                ,cid2
            </if>
            <if test="is_online!=null">
                ,is_online
            </if>

            <if test="src!=null">
                ,src
            </if>
            <if test="thumb!=null">
                ,thumb
            </if>
            <if test="place!=null">
                ,place
            </if>
            <if test="summary!=null">
                ,summary
            </if>
            <if test="notice!=null">
                ,notice
            </if>
            <if test="notice_color!=null">
                ,notice_color
            </if>
            <if test="description!=null">
                ,description
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim suffix="" suffixOverrides="," prefix="" prefixOverrides=",">
            <if test="no!=null">
                ,#{no}
            </if>
            <if test="name!=null">
                ,#{name}
            </if>
            <if test="cid1!=null">
                ,#{cid1}
            </if>
            <if test="cid2!=null">
                ,#{cid2}
            </if>
            <if test="is_online!=null">
                ,#{is_online}
            </if>
            <if test="src!=null">
                ,#{src}
            </if>
            <if test="thumb!=null">
                ,#{thumb}
            </if>
            <if test="place!=null">
                ,#{place}
            </if>
            <if test="summary!=null">
                ,#{summary}
            </if>
            <if test="notice!=null">
                ,#{notice}
            </if>
            <if test="notice_color!=null">
                ,#{notice_color}
            </if>
            <if test="description!=null">
                ,#{description}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="update">
        UPDATE items set
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="no!=null">
                no=#{no},
            </if>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="cid1!=null">
                cid1=#{cid1},
            </if>
            <if test="cid2!=null">
                cid2=#{cid2},
            </if>
            <if test="is_online!=null">
                is_online=#{is_online},
            </if>
            <if test="src!=null">
                src=#{src},
            </if>
            <if test="thumb!=null">
                thumb=#{thumb},
            </if>
            <if test="place!=null">
                place=#{place},
            </if>
            <if test="summary!=null">
                summary=#{summary},
            </if>
            <if test="notice!=null">
                notice=#{notice},
            </if>
            <if test="notice_color!=null">
                notice_color=#{notice_color},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
        </trim>
        ,updated_at=now()
        where id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM items WHERE id=#{id}
    </delete>

    <update id="softDelete">
        UPDATE items set deleted_at=now() WHERE id=#{id}
    </update>

    <update id="offline">
        UPDATE items set is_online=#{is_online} WHERE id=#{id}
    </update>


</mapper>