<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PointMapper">

    <resultMap id="PointResult" type="Point" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="uid" column="uid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="money" column="money" javaType="Double" jdbcType="DECIMAL"/>
        <result property="points" column="points" javaType="Integer" jdbcType="INTEGER"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="getAll" resultMap="PointResult">
        SELECT
        id,
        uid,
        points,
        money,
        created_at,
        updated_at
        FROM point
    </select>

    <select id="getByUid" resultMap="PointResult">
       SELECT
        id,
        uid,
        points,
        money,
        created_at,
        updated_at
        FROM point
        WHERE uid=#{uid}
    </select>

    <select id="getById" resultMap="PointResult">
        SELECT
        id,
        uid,
        points,
        money,
        created_at,
        updated_at
        FROM point
        WHERE id=#{id}
    </select>

    <insert id="insert" parameterType="Payment">
        <selectKey resultType="Integer" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO point (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="uid!=null">
                ,uid
            </if>
            <if test="points!=null">
                ,points
            </if>
            <if test="money!=null">
                ,money
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim suffix="" suffixOverrides="," prefix="" prefixOverrides=",">
            <if test="uid!=null">
                ,#{uid}
            </if>
            <if test="points!=null">
                ,#{points}
            </if>
            <if test="money!=null">
                ,#{money}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="update">
        UPDATE point set
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="uid!=null">
                ,uid=#{uid}
            </if>
            <if test="points!=null">
                ,points=#{points}
            </if>
            <if test="money!=null">
                ,money=#{money}
            </if>
        </trim>
        ,updated_at=now()
        where id=#{id}
    </update>


    <update id="add">
        UPDATE point set
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="points!=null">
                ,points=points + #{points}
            </if>
            <if test="money!=null">
                ,money= money + #{money}
            </if>
        </trim>
        ,updated_at=now()
        where uid=#{uid}
    </update>

    <delete id="delete">
        DELETE FROM point WHERE id=#{id}
    </delete>

</mapper>