<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SysConfigMapper">

    <resultMap id="SysConfigResult" type="SysConfig" autoMapping="true">
        <id column="id" property="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="value" column="value" javaType="String" jdbcType="VARCHAR"/>
        <result property="created_at" column="created_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="updated_at" column="updated_at" javaType="Date" jdbcType="TIMESTAMP"/>
        <result property="deleted_at" column="deleted_at" javaType="Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="SysConfigResult">
        SELECT * FROM sys_config where id=#{id}
    </select>

    <select id="getByName" resultMap="SysConfigResult">
        SELECT * FROM sys_config where name=#{name}
    </select>

    <select id="getAll" resultMap="SysConfigResult">
         SELECT * FROM sys_config
    </select>

    <update id="saveByName">
        UPDATE sys_config SET
        value=#{content}
        ,updated_at=now()
        where name=#{name}
    </update>

    <insert id="insert">
        <selectKey resultType="Integer" keyProperty="id" keyColumn="id" order="AFTER">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
        INSERT INTO sys_config (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="name!=null">
                ,name
            </if>
            <if test="value!=null">
                ,value
            </if>
            ,created_at
            ,updated_at
        </trim>
        ) VALUES (
        <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
            <if test="name!=null">
                ,#{name}
            </if>
            <if test="value!=null">
                ,#{value}
            </if>
            ,now()
            ,now()
        </trim>
        )
    </insert>

    <update id="update" parameterType="Cart">
        UPDATE sys_config SET
        <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
            <if test="name!=null">
                ,name=#{name}
            </if>
            <if test="value!=null">
                ,value=#{value}
            </if>
        </trim>
        ,updated_at=now()
        where id=#{id}
    </update>


    <insert id="saveOrUpdate" parameterType="Cart">
        <selectKey keyProperty="id" resultType="Integer" keyColumn="id" order="BEFORE">
            select sum(id) AS id from cart where uid = #{uid} and gid=#{gid} and spec=#{spec} limit 0,1
        </selectKey>
        <if test="id>0">
            UPDATE sys_config SET
            <trim prefixOverrides="," prefix="" suffix="" suffixOverrides=",">
                <if test="name!=null">
                    ,name=#{name}
                </if>
                <if test="value!=null">
                    ,value=#{value}
                </if>
            </trim>
            ,updated_at=now()
            where id=#{id}
        </if>
        <if test="id==null">
            INSERT INTO sys_config (
            <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
                <if test="name!=null">
                    ,name
                </if>
                <if test="value!=null">
                    ,value
                </if>
                ,created_at
                ,updated_at
            </trim>
            ) VALUES (
            <trim prefix="" prefixOverrides="," suffixOverrides="," suffix="">
                <if test="name!=null">
                    ,#{name}
                </if>
                <if test="value!=null">
                    ,#{value}
                </if>
                ,now()
                ,now()
            </trim>
            )
        </if>
    </insert>


    <delete id="delete">
        DELETE FROM sys_config WHERE id=#{id}
    </delete>


</mapper>